$themColor = #783c7e


// 旋转
time()
  transition .38s
  -ms-transition .38s
  -webkit-transition .38s
rotateA()
  transform rotate(90deg)
  -ms-transform rotate(90deg)
  -webkit-transform rotate(90deg)
  time()
rotateB()
  transform rotate(0deg)
  -ms-transform rotate(0deg)
  -webkit-transform rotate(0deg)
  time()